KPT-11: Format the Readme sections
KPT-13: Set env vars in Dockerfile for more modularity
KPT-17: Remove unused env vars from Dockerfile
KPT-22: Modals with REPLACEME accent color
KPT-23: Update button CSS to round off corners
KPT-24: Update background color to REPLACEME
KPT-25: Refactor code
KPT-26: New backend route for userinfo
KPT-27: Update and test libraries
KPT-28: Surprise and delight
KPT-29: Split content to new pages
